/* CSS declarations go here */
.col-lg-5{
    border: solid red;
    width: 400px;
    height: 200px;
}

body{
    background-color: aliceblue;
}

.profileIcon{
    width: 150px;
    height: 150px;

    float: right;

    border-radius: 50%;
}

.mainWord{
    text-align: center;
    background-color: #E8BC7D;
    border-top: 3px dotted #000;
    border-bottom: 3px dotted #000;
    box-shadow: inset 0 -1px 0 0 #000, inset 0 1px 0 0 #000, 0 1px 0 0 #000, 0 -1px 0 0 #000;
    margin-bottom: 1px;
}





ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    height: 48px;
}

li {
    float: left;
    text-decoration: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    height:48px;
    float: right;
    padding-right: 165px;
}

#login-name-link{
    padding-top: 0;
    height: 48px;
}

#login-sign-in-link{
    padding-top: 0;
    height:48px;

}



#wordList{
    height: 450px;
}

#wordsUsed{
    text-align: center;
    background-color: #E8BC7D;
    border-top: 3px dotted #000;
    border-bottom: 3px dotted #000;
    box-shadow: inset 0 -1px 0 0 #000, inset 0 1px 0 0 #000, 0 1px 0 0 #000, 0 -1px 0 0 #000;
    margin-bottom: 1px;
}


#wordSubmit{
    width: 50%;
}

#mainLogo{
    width: 80%;
    height: 250px;
}



