/* CSS declarations go here */
.col-lg-5{
    border: solid red;
    width: 400px;
    height: 200px;
}

.profileIcon{
    width: 100px;
    height: 100px;

    float: right;

    border-radius: 50%;
}

#mainLogo{
    width: 80%;
    height: 250px;

}